<div class='edit-container'>
  <div class='edit-card'>
    <%= form_with(model: subcategory) do |form| %>
      <% if subcategory.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(subcategory.errors.count, "error") %> prohibited this subcategory from being saved:</h2>

          <ul>
            <% subcategory.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <%= form.label :name, style: "display: block" %>
        <%= form.text_field :name %>
      </div>

      <div>
        <%= form.label :category_id, style: "display: block" %>
        <%= form.collection_select :category_id, Category.all, :id, :name, prompt: "Select Category" %>
      </div>

      <div>
        <%= form.submit "Submit", class: "submit-button" %>
      </div>
    <% end %>

    <div class='new-div'>
      <%= link_to "Show this subcategory", @subcategory, class: "submit-button" %>
      <%= link_to "Back to subcategories", subcategories_path, class: "submit-button" %>
    </div>
  </div>
</div>



