<% if notice.present? %>
      <div class="notification-banner">
        <p><%= notice %></p>
      </div>
<% end %>

<h1>Subcategories</h1>

<div class='new-div'>
  <%= link_to "New subcategory", new_subcategory_path, class: "submit-button" %>
</div>

<div id="subcategories">
  <% @subcategories.each do |subcategory| %>
    <div class='categories-container'>
      <div class='product-card'>
        <div id="<%= dom_id subcategory %>">
          <p>
            <strong>Name:</strong>
            <%= subcategory.name %>
          </p>

          <p>
            <strong>Category:</strong>
            <%= subcategory.category.name %>
          </p>

          <p>
            <%= link_to "Show this subcategory", subcategory, class: "submit-button" %>
          </p>

          </div>
        </div>
      </div>
  <% end %>
</div>