<div class="show-container">
  <div class="show-card">
    <div id="<%= dom_id product %>">
      <p>
        <strong>Name:</strong>
        <%= product.name %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= product.description %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= product.price %>
      </p>

      <p>
        <strong>Category:</strong>
        <%= product.category.name %>
      </p>

      <% if product.subcategory.present? %>
        <p>
          <strong>Subcategory:</strong>
          <%= product.subcategory.name %>
        </p>
      <% end %>
      <%= link_to "Edit this product", edit_product_path(@product), class: "submit-button" %>
      <%= link_to "Back to products", products_path, class: "submit-button" %>
      <%= button_to "Destroy this product", @product, method: :delete, class: "submit-button" %>
    </div>
  </div>
</div>
