<% if notice.present? %>
      <div class="notification-banner">
        <p><%= notice %></p>
      </div>
<% end %>

<h1>
  <% if params[:category_id].present? %>
    Products in <%= Category.find(params[:category_id]).name %>
  <% else %>
    All Products
  <% end %>
</h1>

<div class='new-div'>
  <%= link_to "New product", new_product_path, class: "submit-button" %>
</div>

<div class="products-container">
  <% @products.each do |product| %>
    
    <div class="product-card">

      <% if product.category.name == 'Singles'%>
          <%= image_tag 'mtg_back', class: 'category-image'%>
        <% elsif product.category.name == 'Booster'%>
          <%= image_tag 'mtg_booster', class: 'category-image'%>
        <% elsif product.category.name == 'Accessory'%>
          <%= image_tag 'mtg_deckbox', class: 'category-image'%>
        <% else %>
          <%= image_tag 'cart_logo', class: 'category-image'%>
      <% end %>

      <div id="<%= dom_id product %>">
        <p>
          <strong>Name:</strong>
          <%= product.name %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= product.description %>
        </p>

        <p>
          <strong>Price:</strong>
          <%= product.price %>
        </p>

        <p>
          <strong>Category:</strong>
          <%= product.category.name %>
        </p>

        <% if product.subcategory.present? %>
          <p>
            <strong>Subcategory:</strong>
            <%= product.subcategory.name %>
          </p>
        <% end %>
        <p>
            <%= link_to "Show this product", product, class: "submit-button" %>
        </p>

      </div>
    </div>
  <% end %>
</div>


<% if current_page?(root_path) %>
  <h1>Categories</h1>

  <div>
    <% @categories.each do |category| %>
      <%= render partial: 'categories/category', locals: { category: category } %>
    <% end %>
  </div>
<% end %>


