<!DOCTYPE html>
<html>
  <head>
    <title>Magic Cart</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('cart_logo.png') %>
  </head>

  <body>

    <div class="flex-container">
      <nav>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Products', products_path %></li>
        <li class="dropdown">
          <a href="#" class="dropbtn">Categories</a>
          <div class="dropdown-content">
            <%= link_to 'Categories List', categories_path %>
            <%= link_to 'Subcategories List', subcategories_path %>
          </div>
        </li>
      </ul>
    </nav>
    </div>
    

    <%= yield %>
  </body>
</html>
